* {
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

.mainContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 20px 100px 0px 100px;
  box-sizing: border-box;
}

.watchFace {
  width: 40%;
  text-align: right;
  position: relative;
}
.watchFace img {
  /* height:60vh; */
  width: 100%;
}
